{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block topBar %}
{% endblock %}
{% block content %}
<section id="page-title" data-bg-parallax="{% static 'core/images/nosotros.jpg' %}">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="page-title">
            <h1 class="text-uppercase text-medium">Nosotros</h1>
            <!--<span>Work is easy when you have all tools around you!</span><-->
        </div>
    </div>
</section>
<section class="p-b-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-text heading-section">
                    <center><h2>Plan de Movilidad Sostenible Napo</h2></center>
                    <span class="lead">El presente trabajo describe la situación actual de la Movilidad en el sector urbano del cantón Archidona, además de las correspondientes alternativas para el mejoramiento y/o solución a la problemática existente en lo referente a la seguridad ciudadana.  </span>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="page-content" class="background-grey">
    <div class="heading-text heading-section text-center">
        <h2>NUESTRO EQUIPO</h2>
    </div>
    <div class="carousel team-members team-members-shadow" data-items="3">
        <div class="team-member">
            <div class="team-image">
                <img src="{% static 'core/images/nosotros/angel.jpg' %}">
            </div>
            <div class="team-desc">
                <h3>ÁNGEL CHICAIZA</h3>
                <span>Ing. Civil</span>
                <p>
                    Máster en Construcciones Civiles IP Leiria, Portugal | Ing. Civil | CEO de Grupo IFE | Mejor Egresado | Becario SENESCYT
                </p>
                <div class="align-center">
                    <a class="btn btn-xs btn-slide btn-light" href="#">
                        <i class="fab fa-facebook-f"></i>
                        <span>Facebook</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                        <i class="icon-mail"></i>
                        <span>Mail</span></a>
                </div>
            </div>
        </div>
        <div class="team-member">
            <div class="team-image">
                <img src="{% static 'core/images/nosotros/alex.jpg' %}">
            </div>
            <div class="team-desc">
                <h3>ALEX TITUAÑA</h3>
                <span>Ing. Civil</span>
                <p>Ing. Álex Darío Tituaña Ugsha. Máster en Ingeniería Civil - Construcciones Civiles | Auxiliar de Laboratorio de Ensayo de Materiales - UTA-FICM | Residente de Obra "Culminación del Colector Víctor Hugo" | Constructora PLADECO S.A Residente de Obra " Paseo Shopping Ambato"- Constructora PLADECO S.A | Residente de Obra " Mi Comisariato Salcedo"- Constructora PLADECO S.A
                </p>
                <div class="align-center">
                    <a class="btn btn-xs btn-slide btn-light" href="#">
                        <i class="fab fa-facebook-f"></i>
                        <span>Facebook</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                        <i class="icon-mail"></i>
                        <span>Mail</span></a>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="team-image">
                <img src="{% static 'core/images/nosotros/veronica.jpg' %}">
            </div>
            <div class="team-desc">
                <h3>VERÓNICA CASTRO</h3>
                <span>MPAAC. Arquitecta</span>
                <p>Arquitecta Urbanista graduada en la Universidad Indoamérica, especializada en España con el Master en Proyectos Avanzados de Arquitectura y Cuidad, mención: Arquitectura y Medio Ambiente. Arquitecta independiente. Docente de la Universidad Amazónica Ikiam.
                </p>
                <div class="align-center">
                    <a class="btn btn-xs btn-slide btn-light" href="#">
                        <i class="fab fa-facebook-f"></i>
                        <span>Facebook</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                        <i class="icon-mail"></i>
                        <span>Mail</span></a>
                </div>
            </div>
        </div>
        <div class="team-member">
            <div class="team-image">
                <img src="{% static 'core/images/nosotros/cristian.jpg' %}">
            </div>
            <div class="team-desc">
                <h3>Cristian Chicaiza</h3>
                <span>MSC. Biotecnología Ambiental</span>
                <p>Ingeniero en Biotecnología Ambiental, cuenta con un Máster en Ciencias con especialidad en Ingeniería Ambiental por la Universidad de Tianjin. Además, cuenta con experiencia en docencia e investigación, ha colaborado con el Environmental Defense Fund, ha participado en varios modelos de Naciones Unidas como delegado, presidente y organizador, ha publicado trabajos académicos en áreas como Eficiencia Energética, Gestión Integral de Residuos, cuantificación de Gases de Efecto Invernadero, Análisis de Ciclos de Vida, Biorremediación
                </p>
                <div class="align-center">
                    <a class="btn btn-xs btn-slide btn-light" href="#">
                        <i class="fab fa-facebook-f"></i>
                        <span>Facebook</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                        <i class="icon-mail"></i>
                        <span>Mail</span></a>
                </div>
            </div>
        </div>
        <div class="team-member">
            <div class="team-image">
                <img src="{% static 'core/images/nosotros/oscar.png' %}">
            </div>
            <div class="team-desc">
                <h3>Oscar Diaz</h3>
                <span>Tlgo. Analista de Sistemas</span>
                <p>Tecnologo en Análisis de Sistemas graduado en el Instituto Superior Tecnológico Tena | Técnico en soporte Help Desk Niveles 1 y 2 | Practicas pre-profesionales en el área de Gestión Tecnológica del GAD Provincial de Napo; CEO fundador de OTECH SOLUCIONES INFORMATICAS; Representante de UCAPEM Group en la Provincia de Napo.
                </p>
                <div class="align-center">
                    <a class="btn btn-xs btn-slide btn-light" href="#">
                        <i class="fab fa-facebook-f"></i>
                        <span>Facebook</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span></a>
                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                        <i class="icon-mail"></i>
                        <span>Mail</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'core/plugins/gmap3/gmap3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/plugins/gmap3/map-styles.js' %}"></script>
{% endblock %}